@import url(https://unpkg.com/fixedsys-css/css/fixedsys.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap);

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
.header {
  display: flex;
  height: 100vh;
  padding: 0 3rem;
  flex-direction: column;
  border-bottom: 1px solid #98989861;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6rem;
  height: 7rem;
  transition: 0.6s;

  z-index: 30;
}
.logo img {
  width: 150px;
  height: 45px;
}
.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  font-size: 1.1rem;
}
.nav-link {
  margin-right: 2rem;
}
.nav-link4 {
  background-color: var(--color-primary);
  height: 3rem;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  border-radius: 2.5rem;
}
.opening {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  justify-content: center;
}
.left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.left-side h1 {
  font-size: 3.5rem;
  line-height: 1.35;
  margin-bottom: 3rem;
}
.highlight {
  position: relative;
}
.highlight::before {
  content: '';
  background: var(--gradient-primary);
  transform: skew(-15deg);
  position: absolute;
  width: 108%;
  left: -3%;
  height: 100%;
  z-index: -1;
}
.right-side img {
  height: 25rem;
}
.left-side p {
  font-size: 1.5rem;
}
.left-side button {
  width: 6rem;
  border: none;
  height: 3rem;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  width: 10rem;
  color: var(--color-primary);
  text-decoration: underline;
  transition: 0.6s;
}
.left-side button:hover {
  transform: translateY(1rem);
}
.section {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #98989861;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  transition: 3s;
}

.title h3 {
  font-size: 1.1rem;
  color: var(--color-primary);
}
.title h1 {
  font-size: 2.7rem;
  line-height: 1;
  font-weight: 400;
}
.features {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}
.features img {
  height: 28rem;
}
.feature {
  display: flex;
  gap: 2rem;
}
.inner-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
}
.feature-icon {
  width: 55px;
  height: 55px;
  background-color: var(--color-primary-opacity);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.feature-icon svg {
  height: 20px;
  width: 25px;
  fill: var(--color-primary);
}

.inner-feature h3 {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1rem;
}
.inner-feature h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.operations-content {
  width: 65%;
  background: white;
  height: 20rem;
  margin-top: 8rem;
  font-size: 1.7rem;
  padding: 0 7rem 6.5rem 7rem;
}
.operations-btn {
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  transform: translateY(-50%);
  justify-content: center;
  height: 3rem;
  position: relative;
  margin-bottom: 2rem;
}
.operations-btn button {
  height: 3rem;
  width: 14rem;
  margin-right: 2.5rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
}

.transfer-btn {
  background-color: var(--color-secondary);
}
.loan-btn {
  background-color: var(--color-primary);
}
.close-btn {
  background-color: var(--color-tertiary);
}

.hidden {
  display: none;
}
.active-tabbed-div {
  display: grid;
  grid-template-columns: 7rem 1fr;
}
.icon {
  height: 65px;
  width: 65px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.icon svg {
  width: 2rem;
  height: 2rem;
}
.info h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.info p {
  font-size: 1rem;
  color: #666;
}
.transfer-icon {
  background: var(--color-secondary-opacity);
}
.loan-icon {
  background: var(--color-primary-opacity);
}
.close-icon {
  background: var(--color-tertiary-opacity);
}
.transfer-icon svg {
  fill: var(--color-secondary-darker);
}
.loan-icon svg {
  fill: var(--color-primary-darker);
}
.close-icon svg {
  fill: var(--color-tertiary-darker);
}
.sticky-nav {
  /* used */
  position: fixed;
  background-color: rgb(255, 255, 255, 0.9);
}
.active-opt-btn {
  /* used */
  transform: translateY(-25%);
}
.hidden-section {
  opacity: 0;
  transform: translateY(8rem);
}
.img-blur {
  filter: blur(20px);
}
.feature-img {
  transition: 1s;
}
@media (max-width: 950px) {
  .features img {
    height: 19rem;
    width: 25rem;
  }
  .inner-feature {
    padding: 0;
  }
  .opening {
    width: 87%;
  }
  .left-side h1 {
    font-size: 2.5rem;
  }
  .left-side p {
    font-size: 1.2rem;
  }
  .section {
    padding: 10rem 3rem;
  }
  .operations-content {
    width: 55rem;
    padding: 0 3rem;
  }
  .nav {
    padding: 0 1rem;
  }
}
